server = true
client_addr = "0.0.0.0"
bootstrap_expect = ${_VOTE_COUNT}

connect {
    enabled = true
}


addresses {
    grpc = "0.0.0.0"
}

ports {
    grpc = 8502
}

ui_config {
    enabled = true
}
